<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!-- Form Error -->
        <% if (typeof errors != 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <ul>
                    <% errors.forEach(error => { %>
                        <% if (error.param == 'time') { %>
                            <li>Time Must be at least 1 Minute</li>
                        <% } else if (error.param == 'score') { %>
                            <li>Score Must be between 1 to 100</li>
                        <% } else { %>
                        <li> <%= error.msg %> </li>
                        <% } %>
                    <% }) %>
                </ul>
            </div>
        <% } %>
        <form action="/dashboard/history-users/add" method="POST">
            <div class="mb-3">
                <label for="id_user" class="form-label">User</label>
                <select class="form-select" id="id_user" name="id_user" required>
                    <% dataUserGames.forEach(user => { %>
                        <option value="<%= user.id %>"><%= user.username %></option>
                    <% }) %>
                </select>
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">Time (Minute)</label>
                <input type="number" class="form-control" id="time" name="time" placeholder="Enter Time" 
                min="1" required>
            </div>
            <div class="mb-3">
                <label for="score" class="form-label">Score (1-100)</label>
                <input type="number" class="form-control" id="score" name="score" placeholder="Enter Score" 
                min="0" max="100" required>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>